<% include ./include/header_i%>
<!--begin::Content-->
<div class="content fs-6 d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Post-->
    <div class="post fs-6 d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div class="container-xxl">
            <!--begin::Hero card-->
            <div class="card mb-8">
                <!--begin::Hero body-->
                <div class="card-body flex-column p-5">
                    <!--begin::Hero content-->
                    <div class="d-flex align-items-center h-lg-300px p-5 p-lg-15">
                        <!--begin::Wrapper-->
                        <div class="d-flex flex-column align-items-start justift-content-center flex-equal me-5">
                            <!--begin::Title-->
                            <h1 class="fw-bold fs-3x text-gray-800 mb-3 mb-lg-6">TAC ( Total Allowable Catch )</h1>
                            <div class="fw-bold fs-2x text-gray-400 text-center ps-4">총허용 어획량제도</div>
                            <!--end::Title-->
                            
                        </div>
                        <!--end::Wrapper-->
                        <!--begin::Wrapper-->
                        <div class="flex-equal d-flex justify-content-center align-items-end ms-5">
                            <!--begin::Illustration-->
                            <img src="../assets/media/illustrations/tac/fisherman.png" alt="" class="mw-100 mh-125px mh-lg-275px mb-lg-n12" style="padding-left: 120px;" />
                            <!--end::Illustration-->
                        </div>
                        <!--end::Wrapper-->
                    </div>
                    <!--end::Hero content-->
                    <!--begin::Hero nav-->
                    <div class="card-rounded bg-light d-flex flex-stack flex-wrap p-5">
                        <!--begin::Nav-->
                        <ul class="nav flex-wrap border-transparent fw-bold">
                            <!--begin::Nav item-->
                            <li class="nav-item my-1">
                                <a class="btn btn-color-gray-600 btn-active-secondary btn-active-color-primary fw-bolder fs-8 fs-lg-base nav-link px-3 px-lg-8 mx-1 text-uppercase" href="/tacinfo">TAC 소개</a>
                            </li>
                            <!--end::Nav item-->
                            <!--begin::Nav item-->
                            <li class="nav-item my-1">
                                <a class="btn btn-color-gray-600 btn-active-secondary btn-active-color-primary fw-bolder fs-8 fs-lg-base nav-link px-3 px-lg-8 mx-1 text-uppercase active" href="/tacinfo/policy">TAC 제도</a>
                            </li>
                            <!--end::Nav item-->
                            <!--begin::Nav item-->
                            <li class="nav-item my-1">
                                <a class="btn btn-color-gray-600 btn-active-secondary btn-active-color-primary fw-bolder fs-8 fs-lg-base nav-link px-3 px-lg-8 mx-1 text-uppercase" href="/tacinfo/person">TAC 수산자원조사원 배치현황</a>
                            </li>
                            <!--end::Nav item-->
                        </ul>
                        <!--end::Nav-->
                    </div>
                    <!--end::Hero nav-->
                </div>
                <!--end::Hero body-->
            </div>
            <!--end::Hero card-->
            <!--begin::Products Documentations-->
            <div class="card mb-2">
                <!--begin::Card body-->
                <div class="card-body p-10 p-lg-15">
                    <!--begin::Title-->
                    <h1 class="fw-bold text-dark mb-12 ps-0">TAC 제도</h1>
                    <!--end::Title-->
                    <div class="separator separator-solid my-6 mb-20"></div>
                    <!--begin::Wrapper-->
                    <div class="flex-equal d-flex justify-content-center align-items-end ms-5 mb-5">
                        <!--begin::Illustration-->
                        <img src="../assets/media/illustrations/tac/tac_3.PNG" alt=""/>
                        <!--end::Illustration-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Products Documentations-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>
<!--end::Content-->
<% include ./include/footer_i%>